#********** osx template********** 

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
 

#********** linux template********** 

.*
!.gitignore
*~

# KDE
.directory
 

#********** windows template********** 

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
 

#********** c template********** 

# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

 

#********** c++ template********** 

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
 

#********** haskell template********** 

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
 
